<!DOCTYPE html>
<html lang="{{ language_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} | {% endif %}{{ site_title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism-okaidia.min.css">
    <link rel="stylesheet" href="{% asset 'css/style.css' %}" />
    <link rel="stylesheet" href="{% asset 'css/fonts.css' %}" />
  </head>

  <body>
    <header><h1>{{ site_title }}</h1></header>
    <nav>
      <ul class="menu">
        {# instances of TopMenuItem (for example) #}
        {% for item in top_menu_items | sort(attribute='weight', reverse=True) %}
          {% if item.view_name %}
            <li><a href="{% url item.view_name %}">{{ item.view_name|capitalize }}</a></li>
          {% else %}
            <li><a href="{% url 'page', item.page %}">{{ item.page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <hr/>
    </nav>

    {% block content %}
    {% endblock %}
    <footer>
      <hr/>
      <ul>
        <li><span>&copy; Piotr Rusin 2016 - 2019</span></li>
        <li><a href="piotr.rusin88@gmail.com)">Contact</a></li>
        <li><a href="https://github.com/piotr-rusin">Github</a></li>
      </ul>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-python.min.js"></script>
  </body>
</html>
