{% extends "base.html.jinja2" %}

{% block content %}
  {% if not is_home %}
    <h1>{{ title }}</h1>
  {% endif %}
  {# An instance of MarkdownPartial (for example) #}
  {% if text %}
    {{ text.content }}
  {% endif %}
  <h2>Blog posts</h2>
  {% for year, elements in listed_elements | group_by_year %}
    <h3>{{year}}</h3>
    <ul>
      {% for element in elements %}
      <li>
        <span class="date">{{ element.date | date("%m/%d") }}</span>
        <a href="{% url view_name, element %}">{{ element.title }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}

