{% extends "base.html.jinja2" %}

{% block content %}
  <div class="article-meta">
    <h1><span class="title">{{ article.title }}</span></h1>
    {% if author %}<h2 class="author">{{ author }}</h2>{% endif %}
    {% if article.date %}<h2 class="date">{{ article.date | date("%Y/%m/%d") }}</h2>{% endif %}
  </div>

  <main>
    {{ article.content }}
  </main>
{% endblock %}
